<div>
    @Html.ActionLink("Home", "Index", "Home")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("ShowDate", "ShowCurrentDate", "Home")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("UrlParameters", "GetUrlParameters", "Home")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("ShowSubmitForm", "ShowSubmitForm", "Home")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Phonebook", "ViewPhonebook", "Home")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("PhonebookStrongType", "ViewPhonebookStrongType", "Home")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("EditUser", "EditUser", "Home")
    &nbsp;&nbsp;&nbsp;    
</div>
