@model EntityFrameworkSample.Models.Restaurants.RestaurantListVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model.Restaurants) {
    <tr>
        <td>@item.Name</td>
        <td>@item.City.Name</td>
        <td>@item.Category.Name</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
